# Server Ports
GAMESERVER_LISTENER_PORT=9014
CLIENT_LISTENER_PORT=2106

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=l2auth
DB_PWD=l2auth
DB_NAME=l2auth
DB_SSL_MODE=disable

# Database Pooling
DB_MAX_CONN=20
DB_IDLE_CONN=10
DB_MAX_LIFETIME=300
DB_MAX_CONN_IDLE_TIME=60

# Account Settings
ATTEMPTS_LOGIN_COUNT=5
AUTO_CREATE_ACCOUNT=true
LOGIN_RATE_LIMIT=10
